
body{
	background-color: lightgreen;
}

.top_list{
	margin-left: 100px;
}
.top_list li{
	float: left;
	margin-left: 600px;
	margin-right: -550px;
	list-style-type: none;
	cursor: pointer;
}

#page_list{
	list-style-type: none;
	align-items: center;
	text-align: center;

}

#page_list li{
	align-items: center;
	display: inline-block;
	padding: 8px;
	background-color: blue;
	color: white;
	margin-right: 4px;
	margin-bottom: 30px;
}

.admin_panel{
	float: left;
	margin-left: 40px;
}

.login-btn{
	float: right;
	margin-right: 40px;
	margin-top: 20px;

}

.top{
	overflow: hidden;
	background-color: white;
}

.products{
	background-color: white;
	margin-top: 20px;
	padding: 5px;
	/*display: none;*/

}

.orders{
	background-color: white;
	margin-top: 20px;
	padding: 5px;
	display: none;
}


.messages{
	background-color: white;
	margin-top: 20px;
	padding: 5px;
	display: none;
}

.pro_title{
	text-align: center;
	color: #290149;
}

.order_title{
	text-align: center;
	color: #290149;
}

.message_title{
	text-align: center;
	color: #290149;
}


/*table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table{
	border-spacing: 15px;
	width: 100%;
}*/

.add_pro_modal, .edit_pro_modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.add_pro, .edit_pro{
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn{
	color: #ccc;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}



table{
	/*position: absolute;*/
	/*z-index: 2;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*transform: translate(-50%,-50%);*/
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
	box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
	background: #fafafa;
	text-align: center;
}

th,td{
	padding: 12px 15px;
}

th{
	background: #ba68c8;
	color: #fafafa;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

td{
	font-family: 'Open Sans', sans-serif;
}

tr:nth-child(odd){
	background-color: #eeeeee;
}

.del_item{
	background-color: red;
	padding: 10px;
	cursor: pointer;
}

.edit_item{
	background-color: blue;
	padding: 10px;
	cursor: pointer;

}

.reply_msg{
	background-color: blue;
	padding: 12px;
	font-size: 16px;
	cursor: pointer;
}


td a{
	text-decoration: none;
	color: white;
}




#reply{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);



}



.reply_user .textbox{
	padding: 10px;
	margin: 10px;
}

.btn_reply{
	text-align: center;
	margin-left: 45%;
	padding: 10px;
	color: white;
	background-color: green;
	margin-bottom: 10px;
	cursor: pointer;
}

.reply_usr{
	margin-left: 15%;
	background-color: #f4f4f4;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
	cursor: pointer;

}

.btn_cancel_reply{
	text-align: center;
	padding: 10px;
	color: white;
	background-color: red;
	margin-bottom: 10px;

}